## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [2]:
#write here and run the cell
for i in range(1,11):
  for j in range(1,11):
    print(f"{i * j:4}", end=" ")
  print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [3]:
#write here and run the cell
l1 = [7, 14, 21, 28, 35, 42, 49]
l2 = [40, 80, 12, 16, 20, 24, 28]
l3 = []

l3.extend(l1[i] for i in range(1, len(l1), 2))
l3.extend(l2[i] for i in range(0, len(l2), 2))

print("l3 =",l3)

l3 = [14, 28, 42, 40, 12, 20, 28]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [4]:
#write here and run the cell
rows = 8
for i in range(rows):
  print(' ' * (2*i), end='')
  print('* ' * (rows - i))

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [5]:
#write here and run the cell
def exponent(base, exp):
  res = 1
  for _ in range(exp):
    res *= base
  return res

# base = int(input("Enter the base: "))
# exp = int(input("Enter the exponent: "))

base = 5
exp = 4
result = exponent(base, exp)
print(f"{base} raises to the power of {exp} is: {result}")

5 raises to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [6]:
#write here and run the cell
with open('test.txt', 'w') as file:
 file.write("line1\nline2\nline3\nline4\nline5\nline6\nline7")

with open('test.txt', 'r') as original_file,  open('new_text.txt', 'w') as new_file:
  for line_number, line in enumerate(original_file, start=1):
    if line_number == 5:
      continue
    new_file.write(line)

print("Content written to new_test.txt by skipping line number 5:-")

with open('new_text.txt', 'r') as new_file:
  print(new_file.read())

Content written to new_test.txt by skipping line number 5:-
line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [7]:
#write here and run the cell
# names_input = input("Enter three names separated by spaces: ")
names_input = "IIT JODHPUR RAJASTHAN"
names_list = names_input.split()

if len(names_list) == 3:
  for name in names_list:
    print(name)
else:
  print("Please enter exactly three names separated by spaces.")

IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [8]:
#write here and run the cell
def showEmployee(name, salary=9000):
  print(f"Name: {name} salary: {salary}")

showEmployee("Bill Gates", 12000)
showEmployee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [9]:
#write here and run the cell
def contains_letters_and_digits(word):
    has_letter = any(char.isalpha() for char in word)
    has_digit = any(char.isdigit() for char in word)
    return has_letter and has_digit

# input_string = input("Enter a string:\n")
input_string = "Harry25 is Gryffindor Wizard50 and cursed"
words = input_string.split()

words_with_letters_and_digits = [word for word in words if contains_letters_and_digits(word)]

if words_with_letters_and_digits:
    print("Words containing both letters and digits:\n", ", ".join(words_with_letters_and_digits))
else:
    print("No words contain both letters and digits.")

Words containing both letters and digits:
 Harry25, Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [10]:
#write here and run the cell
def replace_special_chars(text):
  result = ''
  for char in text:
    if not char.isalnum() and char != ' ':
      result += '#'
    else:
      result += char
  return result

# string_1 = input("Enter a string:\n")

string_1 = "/*Modi is @Politician & Melony!!"
print("Original String :- "+ string_1)
modified_string = replace_special_chars(string_1)
print(modified_string)

Original String :- /*Modi is @Politician & Melony!!
##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [11]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result = set(zip(first_list, second_list))
print("Result is ", result)

Result is  {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [12]:
#write here and run the cell
A = {1, 2, 3, 4, 5}
B = {3, 5, 6, 7, 8}

print("A-B :- ", A - B)
print("B-A :- ", B - A)
print("A∩B :- ", A & B)
print("A∪B :- ", A | B)

A-B :-  {1, 2, 4}
B-A :-  {8, 6, 7}
A∩B :-  {3, 5}
A∪B :-  {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [13]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

vehicle1 = Vehicle(150, 18)
print(f"Vehicle with max speed: {vehicle1.max_speed} km/h and mileage: {vehicle1.mileage} km")

Vehicle with max speed: 150 km/h and mileage: 18 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [14]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
    self.name = name
    self.max_speed = max_speed
    self.mileage = mileage

class Bus(Vehicle):
  def __init__(self, name, max_speed, mileage, seating_capacity):
    super().__init__(name, max_speed, mileage) # Call the parent class constructor to initialize inherited attributes
    self.seating_capacity = seating_capacity

bus = Bus("School Volvo", 180, 12, 50)
print("Vehicle Name:", bus.name, "Speed:", bus.max_speed, "Mileage:", bus.mileage, "Seating Capacity:", bus.seating_capacity)

Vehicle Name: School Volvo Speed: 180 Mileage: 12 Seating Capacity: 50

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [15]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def seating_capacity(self, capacity=50):
    return super().seating_capacity(capacity=50)

School_bus = Bus("bus", 180, 12)
print(School_bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [16]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def fare(self):
    base_fare = super().fare()
    maintenance_fee = 0.1 * base_fare
    return base_fare + maintenance_fee
    pass

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [17]:
#write here and run the cell
import json

data = {"key1" : "value1", "key2" : "value2"}
jsonData = json.dumps(data)
print(jsonData)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [18]:
#write here and run the cell
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

sorted_keys = dict(sorted(sampleJson.items()))

with open('sorted_json.json', 'w') as file:
  json.dump(sorted_keys, file, indent=4)

with open('sorted_json.json', 'r') as file:
  print(file.read())

{
    "age": 29,
    "id": 1,
    "name": "value2"
}